{% extends "core/skeleton.html" %}

{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock %}
{% block body %}

  <main>
    <h2>Journal Entries</h2>
    <div>
      {% crispy form %}
    </div>
    <ul id="journal-list"
        class="list-group">
      {% for object in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center gap-2">
          <div class="flex-grow-1 min-width-0">
            <div class="text-truncate">
              {{ object.raw_text }}
            </div>
            <small class="text-muted">{{ object.created_at }}</small>
          </div>
        </li>
      {% endfor %}
    </ul>
  </main>

{% endblock %}
